.about{
    background-color:#101010;
    padding: 1em;
}

.about h1{
    text-align: center;
    font-size: 60px;
    color: white;
    font-weight: bold;
    font-family: 'EB Garamond', serif;
    margin: 10px;
}


.about .about_one{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_one img{
    width: 400px;
    margin:2em;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(1, 2, 1, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);

}

.about_one h4{
    text-align: justify;
    width: 500px;
    color: white;
    font-family: 'EB Garamond', serif;
    font-size: 22px;
}


@media screen and (max-width:850px) {
  .about_one h4{
    width: auto;
    margin:1em;
  }
  .about .about_one{
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width:400px) {
  .about h1{
    font-size: 35px;
  }
  
  .about_one img{
    width: 250px;
  
  }
  .about_one h4{
    width: auto;
    margin-bottom: 1em;
  }
}

.about .about_two{
  border-top: 2px solid rgba(233,33,99,1);
  padding-top: 1em;
  /* background-color: cadetblue; */
  color: white;
}
.about .about_two_head{
  display: flex;
  justify-content: center;
  align-items: center;
}
.ant-tabs-nav{
  display: flex;
  flex: inherit;
  justify-content: center;
  align-items: center;
}

.ant-tabs-nav-wrap{
  display: flex;
  flex: inherit;
}
.ant-tabs-nav-list{
  display: flex;
  flex: inherit;
 justify-content:center;
 align-items: center;
 color: whitesmoke;
}

.ant-tabs-tab{
  margin: 0em;
  font-size: 22px !important;
}

.about h4,.about h5{
  color: whitesmoke;
  
}
.ant-tabs-tab:hover{
  cursor: pointer;
  color: rgba(233,33,99,1);
}

.ant-tabs-tab {
  font-size: 30px;
}

/* timeline styling */

.timeline{
  position:relative;
  margin:50px auto;
  padding:40px 0;
  width:1000px;
  box-sizing:border-box;
}
.timeline:before{
  content:'';
  position:absolute;
  left:50%;
  width:2px;
  height:100%;
  background:#c5c5c5;
}
.timeline ul{
  padding:0;
  margin:0;
}
.timeline ul li{
  list-style:none;
  position:relative;
  width:50%;
  padding:20px 40px;
  box-sizing:border-box;
}
.timeline ul li:nth-child(odd){
  float:left;
  text-align:right;
  clear:both;
}
.timeline ul li:nth-child(even){
  float:right;
  text-align:left;
  clear:both;
}
.content{
  padding-bottom:20px;
}
.timeline ul li:nth-child(odd):before
{
  content:'';
  position:absolute;
  width:10px;
  height:10px;
  top:24px;
  right:-6px;
  background:rgba(233,33,99,1);
  border-radius:50%;
  box-shadow:0 0 0 3px rgba(233,33,99,0.2);
}
.timeline ul li:nth-child(even):before
{
  content:'';
  position:absolute;
  width:10px;
  height:10px;
  top:24px;
  left:-4px;
  background:rgba(233,33,99,1);
  border-radius:50%;
  box-shadow:0 0 0 3px rgba(233,33,99,0.2);
}
.timeline ul li h3{
  padding:0;
  margin:0;
  color:rgba(233,33,99,1);
  font-weight:600;
}
.timeline ul li p{
  margin:10px 0 0;
  padding:0;
}
.timeline ul li .time h4{
  margin:0;
  padding:0;
  font-size:14px;
}
.timeline ul li:nth-child(odd) .time
{
  position:absolute;
  top:12px;
  right:-165px;
  margin:0;
  padding:8px 16px;
  background:rgba(233,33,99,1);
  color:#fff;
  border-radius:18px;
  box-shadow:0 0 0 3px rgba(233,33,99,0.3);
}
.timeline ul li:nth-child(even) .time
{
  position:absolute;
  top:12px;
  left:-165px;
  margin:0;
  padding:8px 16px;
  background:rgba(233,33,99,1);
  color:#fff;
  border-radius:18px;
  box-shadow:0 0 0 3px rgba(233,33,99,0.3);
}
@media(max-width:1000px)
{
  .timeline{
    width:100%;
  }
}
@media(max-width:767px){
  .timeline{
    width:100%;
    padding-bottom:0;
  }
  h1{
    font-size:40px;
    text-align:center;
  }
  .timeline:before{
    left:20px;
    height:100%;
  }
  .timeline ul li:nth-child(odd),
  .timeline ul li:nth-child(even)
  {
    width:100%;
    text-align:left;
    padding-left:50px;
    padding-bottom:50px;
  }
  .timeline ul li:nth-child(odd):before,
  .timeline ul li:nth-child(even):before
  {
    top:-18px;
    left:16px;
  }
  .timeline ul li:nth-child(odd) .time,
  .timeline ul li:nth-child(even) .time{
    top:-30px;
    left:50px;
    right:inherit;
  }
}

.content {
    
        padding: 1em;
        color: whitesmoke;
        background-color: #191919;
}

.content:hover{
 background-image: linear-gradient(
        90deg
        ,#f61b10,#ef0963); 
        cursor: pointer;
}
.content h3{
    color: whitesmoke !important;
}



@media screen and (max-width:500px)  {
 /* .about .about_two  .ant-tabs-content-holder{
    width: fit-content;
  }
  .content{
    width: fit-content;
  } */
  .ant-tabs-tab{
    margin:10px;
  }
  .ant-tabs-nav-list{
    display: flex;
   flex-direction: column;
    justify-content:center;
   align-items: center;
  }
  .ant-tabs-tab{
    margin: 0em;
    font-size: 15px !important;
  }
}


.about #about_quote{
  font-family: 'EB Garamond', serif;
}