.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #101010;
  color: white;
  padding: 2em 6em;
}

.footer .footer_icon a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-size: 25px;
}

.footer .footer_icon a:hover {
  color: #ff5151;
}
.footer .footer_copy {
  text-align: justify;
  
}

.footer .footer_copy h5{
  font-weight: bolder;
  color: white;
}

.footer .footer_copy span {
  opacity: 0.5;
}

@media screen and (max-width: 648px) {
  .footer {
    display: grid;
    place-content: center;
    place-items: center;
    padding: 1em;
  }
}
