@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Satisfy&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.project{
    background: #101010;
    padding:2em;
    border-top: 2px solid #ef0963;
}

.project h1{
    text-align: center;
    font-size: 60px;
    color: white;
    font-weight: bold;
    font-family: 'EB Garamond', serif;
    margin: 0;
}

.project h3{
    color: white;
    font-family: 'EB Garamond', serif;
}

.project .project_card{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
}

.project .project_card .project_card_one{
    padding:2em;
    background:#191919; 
        margin: 1em;
        border-radius: 10px;
}
.project .project_card .project_card_one img{
    width: 240px;
    height: 200px;
    margin: 1em;
}

.project .project_card .project_card_one h6{
    margin: 2em;
    padding: 1em;
    padding-top: 2em;
}

.project .project_card .project_card_one a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 16px;
    border: 2px solid whitesmoke;
    padding: 10px;
    background-image: linear-gradient(
        90deg
        ,#f61b10,#ef0963);
        border-radius: 6px; 
}
.project_card .project_card_one h4{
    font-size: 20px;
    color: whitesmoke;
}


.project_card .project_card_one h5{
    font-size: 16px;
    color: white;
    text-align: justify;
    margin: 20px;
}

.project .project_card .project_card_one:hover{
    background-image: linear-gradient(
        90deg
        ,#f61b10,#ef0963); 
        cursor: pointer;
        color: white;
        transform:scale(1.05);
}

.project .project_card .project_card_one:hover a{
  background: #101010;
}


@media screen and (max-width:1020px) {
    .project .project_card{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:500px) {
    .project{
        padding: 0;
    }
    .project h1{
        font-size: 35px;
        margin-bottom: 10px;
    }
    .project .project_card{
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        align-items: center;
    }
    .project .project_card .project_card_one{
        padding: 1em;
    }
    
    .project .project_card .project_card_one h4{
     text-align: center;
    }
    .project .project_card .project_card_one h5{
        margin:10px;
    }
}